.popup__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 430px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 36px;
}

@media screen and (max-width: 425px) {
  .popup__wrapper {
    padding: 0 22px;
  }
}
